body {
    background-color: rgb(171, 59, 55);
    color: rgb(38, 1, 0);
    font-family: 'Cinzel', serif;
}
#header {
    display: flex;
    justify-content: center;
    margin-bottom: -30px;
}
#header2 {
    display: flex;
    justify-content: center;
    text-decoration: underline;

}
.second-header {
    display: flex;
    justify-content: center;
}

.new-character-container {
    display: flex;
    width: auto;
    justify-content: center;

}
.create-character-container {
    display: none;
    flex-direction: column;
    background-color: rgb(157, 55, 55);
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    height: auto;
    width: auto;

}
.field {
    display: block;
    margin: 20px;
}
label {
    font-weight: bold;
    align-self: baseline;
}
input[type="text"] {
    width: 15px;
}
.action-points {
    display: flex;
    justify-content: right;
}
input#name {
    width: auto;
}
input#level {
    width: 15px;
}
.submit {
    justify-content: center;
    margin-left: 70px;
    margin-bottom: 15px;
}
div.description-container {
    display: flex;
    width: 40%;
    align-self: center;
    flex-direction: column;
    border-color: black;
    width: auto;
    align-self: center;
    padding: -2em;
    margin: auto;
}
div.description p {
    display: flex;
    flex-direction: column;
    width: auto;
}
.desc {
    margin: 2em;
}
.form-container {
    display: flex;
    margin: 15px;
    justify-content: center;
    width: fit-content;
    align-self: center;
}
.action-points-container {
    display: grid;
    margin-top: 20px;
    width: auto;
    align-self: center;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
    row-gap: 30px;
    width: fit-content;
  }
/* For mobile: */
@media only screen and (max-device-width: 480px) {
    .action-points-container {
        width:fit-content;
        font-size: xx-large;
        column-gap: 1px;
    }
    div#header {
        font-size: xx-large;
    }
    div#header2 {
        font-size: xx-large;
        margin-top: -2em;
    }
    .new-character-container {
        font-size:large;
    }
    /* .create-character-container {
        width: auto;
        align-content: center;
        align-items: center;
    } */
    .form-container {
        font-size: xx-large;
    }
    div.description-container {
        font-size: xx-large;
    }

}