body {
    background-color: rgb(171, 59, 55);
    color: rgb(38, 1, 0);
    font-family: 'Cinzel', serif;
}
.header-container {
    display: block;
    align-content: right;
    position: relative;
}
#header {
    display: flex;
    justify-content: center;
    margin-bottom: -30px;
}
#header2 {
    display: flex;
    justify-content: center;
    text-decoration: underline;

}
.second-header {
    display: flex;
    justify-content: center;
}

.new-character-container {
    display: flex;
    width: auto;
    justify-content: center;

}
.create-character-container {
    display: none;
    flex-direction: column;
    background-color: rgb(157, 55, 55);
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    height: auto;
    width: auto;

}
.field {
    display: block;
    margin: 20px;
}
label {
    font-weight: bold;
    align-self: baseline;
}
input[type="text"] {
    width: 15px;
    color: black;
}
.action-points {
    display: flex;
    justify-content: right;
}
input#name {
    width: auto;
}
input#level {
    width: 15px;
}
div.image {
    display: block;
    justify-content: center;
    position: absolute;
    align-items: center;
    width: 100px;
    height: 100px;
    opacity: 0.25;
    left: 50%;
    right: 50%;
    top: 25%;
    pointer-events: none;

}

input {
    border: 3px solid black;
    background-color: rgb(171, 59, 55);
    color: black;
}
button {
    border: 3px solid black;
    background-color: rgb(171, 59, 55);
}
button:hover {
    background-color: rgb(177, 83, 80);
}
select {
    border: 3px solid black;
    background-color: rgb(171, 59, 55);
}
.submit {
    justify-content: center;
    margin-left: 70px;
    margin-bottom: 15px;
    border: 3px solid black;
}
.submit:hover {
    background-color: rgb(177, 83, 80);
}
div.description-container {
    display: flex;
    width: 40%;
    align-self: center;
    flex-direction: column;
    border-color: black;
    width: auto;
    align-self: center;
    padding: -2em;
    margin: auto;
}
div.description p {
    display: flex;
    flex-direction: column;
    width: auto;
}
.desc {
    margin: 2em;
}
.form-container {
    display: flex;
    margin: 15px;
    justify-content: center;
    width: fit-content;
    align-self: center;
}
.action-points-container {
    display: grid;
    margin-top: 20px;
    width: auto;
    align-self: center;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
    row-gap: 30px;
    width: fit-content;
  }
/* For mobile: */
@media only screen and (max-device-width: 480px) {
    .action-points-container {
        width:fit-content;
        font-size: xx-large;
        column-gap: 1px;
    }
    div#header {
        font-size: xx-large;
    }
    div#header2 {
        font-size: xx-large;
        margin-top: -2em;
    }
    .new-character-container {
        font-size:large;
    }
    /* .create-character-container {
        width: auto;
        align-content: center;
        align-items: center;
    } */
    .form-container {
        font-size: xx-large;
    }
    div.description-container {
        font-size: xx-large;
    }
    button {
        font-size: 25px;
        width: 300px;
        height: 150px;
    }
    .submit {
        width: 200px;
        height: 75px;
    }
    .form-container {
        width: auto;
        height: auto;
    }
    .image1 {
        width: 50%;
        height: 50%;
        transform:translateY(450px);
    }

}