body {
    background-color: rgb(171, 59, 55);
    color: rgb(38, 1, 0) 
}
#header {
    display: flex;
    justify-content: center;
    margin-bottom: -30px;
}
#header2 {
    display: flex;
    justify-content: center;

}
.second-header {
    display: flex;
    justify-content: center;
}

.new-character-container {
    display: flex;
    width: auto;
    justify-content: center;

}
.create-character-container {
    display: none;
    background-color: rgb(143, 40, 40);
    height: auto;
    width: auto;
    justify-content: center;

}
.field {
    display: block;
    margin: 20px;
}
.submit {
    justify-content: center;
    margin-left: 70px;
    margin-bottom: 15px;
}
.description-container {
    display: inline-block;
    border-color: black;
    border-radius: 10px;
}
.description {
    display: inline-flex;
    width: 50%;
    margin-left: 10%;
    font-weight: bold;
    font-size: small;
}
div#form-container {
    margin-left: 10%;
}